{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/antonshop/css/blog.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block sidebarText %}
    lol
{% endblock %}

 {% block navigation %}
     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         {% set menuItem = knp_menu_get('AntonShopBundle:Builder:mainMenu',[], {'username': ( app.user.username) }) %}
         {{ knp_menu_render(menuItem) }}
     {% else %}
         <ul class="nav nav-pills">
             <li class="pull-right"><a href="{{ path('securityLogin') }}">Login</a></li>
             <li class="pull-right"><a href="{{ path('signUp') }}">Sign up</a></li>
         </ul>
     {% endif %}

 {% endblock %}