{% macro menu_links(links) %}
    {% import _self as macros %}
    {% for link in links %}
        {% if link.children|length >= 1 %}
            <li class="Collapsable ooo">
            <a class="editCategory" href="{{ path('categoryEdit',{'id':link.id}) }}">
                <img src="{{ asset('img/edit.jpg') }}" class="editimg"/>
            </a>
            <a class="removeCategory" href="{{ path('categoryRemove',{'id':link.id}) }}"
               onClick="return confirm('Are you sure you want to delete?')">
                <img src="{{ asset('img/delete.jpg') }}" class="delimg"/>
            </a>
            <a class="addCategory" href="{{ path('categoryAdd',{'id':link.id}) }}">
                <img src="{{ asset('img/add.jpg') }}" class="addimg"/>
            </a>
        {% else %}
            <li class="Collapsable oooo">
            <a class="editCategory" href="{{ path('categoryEdit',{'id':link.id}) }}">
                <img src="{{ asset('img/edit.jpg') }}" class="editimg"/>
            </a>
            <a class="removeCategory" href="{{ path('categoryRemove',{'id':link.id}) }}"
               onClick="return confirm('Are you sure you want to delete?')">
                <img src="{{ asset('img/delete.jpg') }}" class="delimg"/>
            </a>
            <a class="addCategory" href="{{ path('categoryAdd',{'name':link.id}) }}">
                <img src="{{ asset('img/add.jpg') }}" class="addimg"/>
            </a>
        {% endif %}
        <a href="{{ path('categoryAdd',{'category':'root'}) }}" class="categoryName">{{ link.name }}</a>
        {% if link.children|length >= 1 %}
            <ul>
                {{ macros.menu_links(link.children) }}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

{% extends 'AntonShopBundle::layout.html.twig' %}

{% block title %}Categories{% endblock %}

{% block sidebarText %}
    <a class="addCategory" href="{{ path('categoryAdd',{'id':'root'}) }}">
        <img src="{{ asset('img/add.jpg') }}" class="addimgroot"/>
    </a>
    <ul id="list">
        {{ macros.menu_links(categories) }}
    </ul>
{% endblock %}


{% block body %}
    <header>
        <h1>Categories</h1>
    </header>
    {% if pagination!= null %}
    {% for article in pagination %}
        <div class="product">
            <header>
                <hgroup>
                    <h2><a href="{{ path('pageProduct',{'sku':article.sku}) }}">{{ article.name }}</a></h2>
                </hgroup>
            </header>
            <figure>
                <img src="{{ asset('img/products/' ~ article.picture) }}">
            </figure>
            <div class="description">
                <section>
                    <p class="descriptionTitle">Description</p>
                    <p class="description">{{ article.description }}</p>
                    <p><b>Created:</b> {{ article.createdAt | date('m/d/Y H:i:s') }}</p>
                    <p><b>Updated:</b> {{ article.updatedAt | date('m/d/Y H:i:s') }}</p>
                    {% if article.relatedProducts|length >= 1 %}
                        {% for i in article.relatedProducts %}
                            <p><b>Updated:</b> {{ i.name }}</p>
                        {% endfor %}
                    {%  endif %}
                </section>
            </div>
        </div>
    {% endfor %}
{% endif %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
