{% extends 'AntonShopBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/product.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}{{ product.name }}{% endblock %}
{% block sidebar %}

{% endblock %}
{% block body %}
    <div class="product">
        <header>
            <hgroup>
                <h2>{{ product.name }}</h2>
            </hgroup>
        </header>

        <figure>
            <img src="{{ asset('img/products/' ~ product.picture) }}">
        </figure>
        <div class="description">
            <section>
                <p class="descriptionTitle">Description</p>
                <p class="description">{{ product.description }}</p>
                <p><b>Created:</b> {{ product.createdAt | date('m/d/Y H:i:s') }}</p>
                <p><b>Updated:</b> {{ product.updatedAt | date('m/d/Y H:i:s') }}</p>
            </section>
        </div>
    </div>
{% endblock %}